@charset "UTF-8";

label {
	height: 40px;
	display: inline-block;
	margin-right: 5px;
	padding: 3px;
	box-sizing: content-box;
}

button {
	font-weight: bold !important;
}

form div, h2, #div-new, #div-header {
	display: flex;
	justify-content: center;
	align-items: center;
}

.mt-3 {
	width: 50%;
}

.mb-3 {
	width: 300px;
}

.form-control {
	width: 200px;
}

.input-group-text {
	width: 80px;
	display: inline;
}

#div-new {
	margin-top: 5px;
}

#div-header {
	margin-top: 52px;
}

#img-kbo, label:hover {
	cursor: pointer;
}

#label-header {
	width: 260px;
	text-align: left;
	font-family: "KBO_bold", sans-serif;
	font-size: 2rem;
	font-style: normal;
}

#a-signUp {
	font-weight: bold;
	text-underline-offset: 4px;
}

#img-kbo {
	width: 200px;
	height: auto;
}

#span-errorMessage {
	color: red;
}