@charset "UTF-8";

@font-face {
	font-family: 'KBO_light';
	src: url('../fonts/KBO_light.ttf') format('truetype');
}

@font-face {
	font-family: 'KBO_bold';
	src: url('../fonts/KBO_bold.ttf') format('truetype');
}

@font-face {
	font-family: 'KBO_medium';
	src: url('../fonts/KBO_medium.ttf') format('truetype');
}

body {
	font-family: "KBO_light", sans-serif;
	color: #002561;
}
label{
	height: 26px;
	display: inline-block;
	padding: 3px;
	line-height: 26px;
	box-sizing: content-box;
}

a {
	text-decoration: none;
	display: inline-block;
	height: 26px;
	padding: 3px;
	line-height: 26px;
	color: #002561;
}

a:click {
	font-weight: bold;
}

#div-header, #div-menu, #div-login, #div-logout {
	display: flex;
	align-items: center;
	justify-content: center;
}

#div-menu div {
	display: inline-block;
	border: 2px solid #002561;
	margin: 5px;
	padding: 3px;
}

#img-kbo {
	width: 200px;
	height: auto;
}

#label-header {
	width: 260px; 
	text-align: left;
	font-family: "KBO_bold", sans-serif;
	font-size: 2rem;
	font-style: normal;
}
#label-id {
	text-align: center;
}

/* #a-login {
	height: 60px;
} */