@charset "UTF-8";

label {
	height: 40px;
	display: inline-block;
	margin-right: 5px;
	padding: 3px;
	box-sizing: content-box;
}

a {
	text-decoration: none;
	display: inline-block;
	height: 26px;
	padding: 3px;
	line-height: 26px;
	color: #002561;
	box-sizing: content-box;
}

a:click {
	font-weight: bold;
}

.content {
	background-color: rgba(255, 255, 255, 0.3);
}

.background {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.background #img-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    opacity: 0.7;
    z-index: -1;
}

#div-header, #div-menu, #div-login, #div-logout {
	display: flex;
	align-items: center;
	justify-content: center;
}

#div-login, #div-logout {
	margin-top: 20px;
	justify-content: right;
	margin-right: 10%;
}

#div-menu div {
	display: inline-block;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 5px;
	margin-top: 15px;
	padding: 3px;
	font-weight: bold;
}

#div-menu div:hover {
	cursor: pointer;
}

#img-kbo {
	width: 200px;
	height: auto;
}

#label-header {
	width: 260px; 
	text-align: left;
	font-family: "KBO_bold", sans-serif;
	font-size: 2rem;
	font-style: normal;
}

#img-kbo, label:hover {
	cursor: pointer;
}

#span-id {
	text-align: center;
}