@charset "UTF-8";

label {
	height: 40px;
	display: inline-block;
	margin-right: 5px;
	padding: 3px;
	box-sizing: content-box;
}

a {
	text-decoration: none;
	display: inline-block;
	height: 26px;
	padding: 3px;
	line-height: 26px;
	color: #002561;
	box-sizing: content-box;
}

a:click {
	font-weight: bold;
}

#div-header, #div-menu, #div-login, #div-logout {
	display: flex;
	align-items: center;
	justify-content: center;
}

#div-login, #div-logout {
	margin-top: 20px;
	justify-content: right;
}

#div-menu div {
	display: inline-block;
	border: 2px solid #002561;
	margin: 5px;
	padding: 3px;
}

#div-menu div:hover {
	cursor: pointer;
}

#img-kbo {
	width: 200px;
	height: auto;
}

#label-header {
	width: 260px; 
	text-align: left;
	font-family: "KBO_bold", sans-serif;
	font-size: 2rem;
	font-style: normal;
}

#img-kbo, label:hover {
	cursor: pointer;
}

#span-id {
	text-align: center;
}