@charset "UTF-8";

@font-face {
	font-family: 'KBO_light';
	src: url('../fonts/KBO_light.ttf') format('truetype');
}

@font-face {
	font-family: 'KBO_bold';
	src: url('../fonts/KBO_bold.ttf') format('truetype');
}

@font-face {
	font-family: 'KBO_medium';
	src: url('../fonts/KBO_medium.ttf') format('truetype');
}

body {
	font-family: "KBO_light", sans-serif;
	color: #23004d;
}

h2 {
	font-family: "KBO_medium", sans-serif;
}

label {
	height: 40px;
	display: inline-block;
	margin-right: 5px;
	padding: 3px;
	box-sizing: content-box;
}

form div, h2, .new, .header {
	display: flex;
	justify-content: center;
	align-items: center;
}

.mt-3 {
	width: 50%;
}

.mb-3 {
	width: 400px;
}

.form-control {
	width: 200px;
}

.input-group-text {
	width: 95px;
	display: inline;
}

.span-at {
	width: 40px;
}

.new a:hover {
	cursor: pointer;
}

.header {
	margin-top: 20px;
}

.header img, label:hover {
	cursor: pointer;
}

#header {
	width: 260px;
	text-align: left;
	font-family: "KBO_bold", sans-serif;
	font-size: 2rem;
	font-style: normal;
}

#log-in {
	color: black;
}

#kbo {
	width: 200px;
	height: auto;
}