@charset "UTF-8";

button {
	font-weight: bold !important;
}

form div, h2, #div-login, #div-header {
	display: flex;
	justify-content: center;
	align-items: center;
}

.mt-3 {
	width: 50%;
}

.mb-2 {
	width: 400px;
}

.form-control {
	width: 200px;
}

.input-group-text {
	width: 95px;
	display: inline;
}

.span-at {
	width: 40px;
}

.block {
	display: block;
}

.none {
	display: none;
}

#div-invalidDomain {
	width: 100%;
	color:#dc3545;
	font-size: 14px;
}

#input-email:read-only {
	background-color: #e9ecef; 
}

#label-showPw {
	color: #212529;
}

#div-showPw {
	display: block;
	width: 100%;
}

#div-login {
	margin-top: 5px;
}

#div-usingId {
	width: 100%;
	color:#dc3545;
	font-size: 14px;
}

#div-header {
	margin-top: 20px;
}

#img-kbo, label:hover {
	cursor: pointer;
}

#label-header {
	width: 260px;
	height: 40px;
	text-align: left;
	font-family: "KBO_bold", sans-serif;
	font-size: 2rem;
	font-style: normal;
	display: inline-block;
	margin-right: 5px;
	padding: 3px;
	box-sizing: content-box;
}

#a-login {
	font-weight: bold;
	text-underline-offset: 4px;
}

#img-kbo {
	width: 200px;
	height: auto;
}