@charset "UTF-8";

label {
	height: 40px;
	display: inline-block;
	margin-right: 5px;
	padding: 3px;
	box-sizing: content-box;
}

th, td {
	text-align: center;
	vertical-align: middle;
}

a {
	text-decoration: none;
	display: inline-block;
	height: 26px;
	padding: 3px;
	line-height: 26px;
	color: #002561;
	box-sizing: content-box;
}

div[data-teamid="1"] {
	content: url("../images/1.png");
}

div[data-teamid="2"] {
	content: url("../images/2.png");
}

div[data-teamid="3"] {
	content: url("../images/3.png");
}

div[data-teamid="4"] {
	content: url("../images/4.png");
}

div[data-teamid="5"] {
	content: url("../images/5.png");
}

div[data-teamid="6"] {
	content: url("../images/6.png");
}

div[data-teamid="7"] {
	content: url("../images/7.png");
}

div[data-teamid="8"] {
	content: url("../images/8.png");
}

div[data-teamid="9"] {
	content: url("../images/9.png");
}

div[data-teamid="10"] {
	content: url("../images/10.png");
}

td .container {
	display: flex;
	justify-content: space-around;
}

.container div {
	display: flex;
	justify-content: center;
	align-items: center;
}

td .container div {
	height: 32px;	
}

.score {
	width: 25px;
	line-height: 32px;
	text-align: center;
	font-weight: bold;
}

.teamName {
	width: 100px;
	text-align: center;
}

.block {
	display: block !important;
}

.none {
	display: none !important;
}

.input-group-text {
	width: 85px;
	display: inline;
}

.datepicker-dropdown {
    z-index: 1055 !important; /* Bootstrap Modal의 z-index보다 높게 설정 */
    color: #212529;
}

.input-group {
    position: relative;
}

.input-group .datepicker_input {
    padding-right: 30px; /* 아이콘이 들어갈 공간을 위해 오른쪽 패딩 추가 */
}

.input-group .bi-calendar-date {
    position: absolute;
    right: 10px;  /* 오른쪽 10px 거리 */
    top: 53%;     /* 세로 중앙 맞추기 */
    transform: translateY(-50%); /* 정확한 중앙 위치 */
    font-size: 1.2rem; /* 아이콘 크기 조정 */
    z-index: 1057;
    color: #212529;
}

#icon-calendar:hover {
	cursor: pointer;
}

#main {
	width: 70% !important;
}

#select-game {
	width: 248px;
}

#label-winRate{
	line-height: 40px;
}

#div-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 70%;
	margin: auto;
	padding-left: calc(var(--bs-gutter-x) * .5);
	padding-right: calc(var(--bs-gutter-x) * .5);
}

#div-button {
	margin-left: auto;
	display: flex;
}

#btn-deleteModal {
	margin-left: 3px;
}

#img-kbo, #label-header:hover {
	cursor: pointer;
}

h2, #div-header, #div-login, #div-logout {
	display: flex;
	align-items: center;
	justify-content: center;
}

#div-login, #div-logout {
	margin-top: 20px;
	justify-content: right;
}

#img-kbo {
	width: 200px;
	height: auto;
}

#label-header {
	width: 260px; 
	text-align: left;
	font-family: "KBO_bold", sans-serif;
	font-size: 2rem;
	font-style: normal;
}

#div-validWatching {
	color:#dc3545;
	font-size: 14px;
}